html, body {
    display: flex;
    flex-flow: column;
    font-family: serif;
    font-size: 125%;
    height: 100%;
    margin: 0;
    text-align: left;
}

body > header {
    background: #000000;
    color: #FFFFFF;
    display: table;
    height: 5%;
    min-height: 5%;
    width: 100%;
    border-bottom: 2px solid #444444;
    font-family: monospace;
}

body > header > h1 {
    display: table-cell;
    font-weight: lighter;
    font-family: monospace;
    margin-top: 0;
    padding-left: 2.5rem;
    vertical-align: middle;
    width: 100%;
}

@media (min-aspect-ratio: 1/1) { body > header > h1 { font-size: 200%; } }
@media (max-aspect-ratio: 1/1) { body > header > h1 { font-size: 300%; } }

body > header > h1 > a {
    color: inherit;
    text-decoration: none;
}

body > header > p {
    display: table-cell;
    font-size: 250%;
    font-weight: lighter;
    margin-top: 0;
    vertical-align: middle;
    padding-right: 2.5rem;
    text-decoration: none;
    width: 100%;
}

@media (min-aspect-ratio: 1/1) { body > header > p { font-size: 200%; } }
@media (max-aspect-ratio: 1/1) { body > header > p { font-size: 300%; } }

body > header > p > a {
    color: inherit;
    text-decoration: none;
}

code {
    font-size: 125%;
}

hr {
    border-color: #444444;
}

a {
    color: inherit;
}

pre {
    border-left: 0.3rem solid #444444;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
    max-width: 100%;
    overflow-x: auto;
}

blockquote {
    color: #CCCCCC;
    border-left: 0.3rem solid #444444;
    padding-left: 1rem;
    font-style: italic;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

blockquote > p {
    margin: 0;
}

img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #DDDDDD;
    
}

table {
    width: 100%;
}

td {
    text-align: center;
}
