body > nav[data-sblg-nav] {
    background: #000000;
    color: #FFFFFF;
    display: block;
    flex-grow: 1;
    font-size: 150%;
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 3rem;
}

@media (min-aspect-ratio: 1/1) { body > nav[data-sblg-nav] { padding: 1rem 25vw; } }
@media (max-aspect-ratio: 1/1) { body > nav[data-sblg-nav] { padding: 1rem 5vw; } }

body > nav[data-sblg-nav] > ul > li > p {
    color: #DDDDDD;
    font-size: 125%;
    font-style: italic;
    font-family: monospace;
    margin: 0;
    text-align: left;
}

body > nav[data-sblg-nav] > ul > li > p .sblg-tag + .sblg-tag:before {
    content: ", ";
}

body > nav[data-sblg-nav] > ul > li > h2 {
    font-family: monospace;
    font-size: 200%;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
}

body > nav[data-sblg-nav] > p q {
    display: inline-block;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li + li {
    padding-top: 0rem;
}
