body > header > p {
    visibility: hidden;
}

body > header > p.sblg-next-has {
    visibility: visible;
}

body > header > p.sblg-prev-has {
    visibility: visible;
}

body > section {
    background: #000000;
    color: #FFFFFF;
    display: block;
    flex-grow: 1;
    font-size: 150%;
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
}

@media (min-aspect-ratio: 1/1) { body > section { padding: 1rem 25vw; } }
@media (max-aspect-ratio: 1/1) { body > section { padding: 1rem 5vw; } }

body > section > header > p {
    color: #DDDDDD;
    font-size: 125%;
    font-style: italic;
    font-family: monospace;
    margin: 0;
    text-align: left;
}

body > section > header > p .sblg-tag + .sblg-tag:before {
    content: ", ";
}

body > section > header > h2 {
    font-family: monospace;
    font-size: 200%;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
}

body > section > article > h1, h2, h3, h4 {
    margin-bottom: -0.5rem;
    margin-top: 4rem;
}

body > section > article > p q {
    display: inline-block;
    margin-bottom: 1em;
}
