html, body {
    display: flex;
    flex-flow: column;
    font-family: serif;
    font-size: 125%;
    height: 100%;
    margin: 0;
    text-align: left;
}


canvas {
    display: block;
    height: 100%;
    image-rendering: pixelated;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9999;
}
